body {
  font-family: "Nunito Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777777;
}

* {
  box-sizing: border-box;
}
/*Navbar Coding Starts Here*/

.navbar {
  border-bottom: 20px solid #cccccc;
}

.bg-light {
  background: #2a7fd4 !important;
}
.navbar-light .navbar-text a {
  color: #ffffff;
}

#logo {
  float: left;
  width: 350px;
  height: 90px;
  /* font-family: Georgia, Times, "Times New Roman", serif; */
  font-family: "Nunito Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 90px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  /* background: #4aaaa5; */
  margin-left: 60px;
}

#variousLinks {
  float: right;
  margin-top: 25px;
  margin-left: 400px;
  font-size: 30px;
  font-family: "Nunito Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif;
  color: #ffffff;
}

/*Footer Coding Starts Here*/

footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #ffffff;
  color: #cccccc;
  text-align: center;
  background: #666666;
  border-top: 8px solid #2a7fd4 !important;
  height: 50px;
}
